.tab {
  position: relative; }
  .tab .tab-title {
    margin: 0;
    list-style: none;
    padding: 0px 15px;
    display: flex;
    position: fixed;
    z-index: 500;
    top: 0;
    width: 100%;
    background-color: #F7F7FA;
    border-bottom: 1px solid #ddd;
    box-sizing: border-box; }
    .tab .tab-title li {
      flex: 1;
      display: block;
      text-align: center;
      margin-bottom: -2px;
      padding: 5px 0px 0px 0px; }
      .tab .tab-title li a {
        margin-right: 2px;
        line-height: 1.42857143;
        border: 1px solid transparent;
        border-radius: 4px 4px 0 0;
        display: block;
        padding: 10px 15px; }
      .tab .tab-title li.tab-active a {
        color: #555;
        cursor: default;
        background-color: #fff;
        border: 1px solid #ddd;
        border-bottom-color: transparent;
        position: relative; }
  .tab .tab-content {
    padding: 0px 15px; }
    .tab .tab-content .tab-panel {
      display: none; }
    .tab .tab-content .tab-panel.tab-active {
      display: block; }
